<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOT ASFI</title>
    <link rel="icon" href="../Static/headImg.webp">
    <link rel="stylesheet" href="/Static/style.css">
</head>
<body>
    <h2>Selector de Automatización y Archivo</h2>
    <form id="uploadForm" method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="files[]" multiple>
        <input type="text" name="username" placeholder="Usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <select id="action" name="action">
            <option value="newPAFPTM">Nuevo PAF/PTM</option>
<!--            <option value="extraccionDatosWeb">Extracción de Datos Web</option>-->
<!--            <option value="modificacionPAFPTM">Modificación PAF/PTM</option>-->
        </select>
        <button type="button" id="showCheckboxesButton" style="display: none;">Mostrar opciones de modificación</button>
        <div id="checkboxesContainer" style="display: none;">
            <input type="checkbox" id="nombre_responsable" name="nombre_responsable">
            <label for="nombre_responsable">Modificar Nombre del Responsable</label>
        </div>
        <button type="submit">Ejecutar</button>
    </form>
    <div id="statusIndicator">
        <span id="statusText">Esperando...</span>
    </div>

    <script src="/Static/script.js"></script>
</body>
</html>
